@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: "#f5f5f5";
    font-family: 'Roboto', sans-serif;
}
footer{
    margin-top: 40px;
    margin-left: 100px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
}
#section-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
    margin-right: 100px;
}

#first{
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#second{
    width: 250px;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.sub-sec p{
    line-height: 25px;
}
#part2,#part3,#part4,#part5 p{
    line-height: 40px;
}
#part1 p{
    line-height: 25px;
    margin-bottom: 20px;
}
#section-3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 30px;
}
.menu{
    display: flex;
    width: 35vw;
    justify-content: space-around;
}
#section-3 div p{
    font-size: 14px;
}
p{
    color: rgb(87, 87, 87);
    font-size: 14px;

}
#icon div img{
    width: 17px;
    height: auto;
    opacity: 0.7;
    
}
#icon{
    display: flex;
    width: 150px;
    justify-content: space-between;
}
#icon div{
    width: 30px;
    height: 30px;
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: rgb(201, 201, 201);
}
#last{
    display: flex;
    justify-content: space-between;

}
#last img{
    width: 25px;
    height: 25px;
}
#section-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 30px;
}
#section-2 button{
    margin-left: 5px;
    margin-right: 5px;
    width: 190px;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 3px solid black;
    border-radius: 20px;
    background-color: transparent;
    
}
#section-2 button p{
    color: black;
}
#first a{
    color: rgb(87, 87, 87);
    font-size: 14px;
    /* margin-top: -10px; */
}
#second a{
    color: rgb(87, 87, 87);
    font-size: 14px;
    margin-top: -30px;
}

#first .button button{
    width: 120px;
    height: 40px;
    border-radius: 20px;
    background-color: black;
    color: white;
    font-weight: 700;
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
}
#second .button button{
    width: 90px;
    height: 40px;
    border-radius: 20px;
    background-color: black;
    color: white;
    font-weight: 700;
    border: none;
}
#first p{
    margin-top: 20px;
}
#part1 p:hover{
    text-decoration: none;
}
p:hover{
    text-decoration: underline;
}
#icon>div:hover{
    border-color: rgb(134, 134, 134);
}
hr{
    opacity: 0.5;
}